<div>
    <p><a id="physical-<%= document.id %>" target="_blank" class="btn btn-default availability" href="<%= "#{openurl(document.id,'getit')}" %>"><i class="fa fa-chevron-right availability"></i> Physical copy</a>
    <a id="online-<%= document.id %>" target="_blank" class="btn btn-default availability" href="<%= "#{openurl(document.id,'viewit')}" %>"><i class="fa fa-chevron-right"></i> On-line version</a>
    </p>  
</div>